@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap");

body {
  margin: 0;
  background-color: lightgray;
  background-image: url(../images/fondo-castillo.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.title {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-game-over {
  font-family: "Game Over", sans-serif;
  font-weight: 600;
  font-size: 150px;
  font-style: normal;
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  position: relative;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
 
}

#instructions {
  box-sizing: border-box;
  margin: 40px 0;
  text-align: center;
  border: 11px dashed rgb(0, 0, 0);
  padding: 20px;
  background-image: linear-gradient(
    to right,
    rgb(241, 93, 35) 0%,
    rgb(233, 78, 31) 50%,
    rgb(226, 21, 6) 100%
  );
}

#instructions:hover {
  background: #ee3f14;
}
#instructions:active {
  background: #350701;
}

#instructions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
#instructions ul li {
  margin: 5px 0;
}

.myButton {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  padding: 25px;
  margin-top: 30px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(241, 93, 35) 0%,
    rgb(233, 78, 31) 50%,
    rgb(226, 21, 6) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 11px inset rgba(219, 12, 37, 0.81);
  display: inline-block;
}
.myButton:hover {
  background: #ee3f14;
}
.myButton:active {
  background: #350701;
}

#game-cabecera {
  display: flex;
  width: 700px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 65px;
  margin-top: 50px;
  position: relative;
}

#score,
#timer,
#health {
  padding: 10px;
  background-color: #8b72aa;
  border: 4px solid #350701;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  height: auto;
  align-items: center;
  color: white;
  font-size: 25px;
}

#img-vol {
  position: absolute;
  top: -13px;
  left: 130px;
  width: 200px;
  margin-top: 30px;
}

#game-box {
  background-color: darkgray;
  background-color: darkgray;
  width: 80vw; /* 80% del ancho de la ventana */
  height: 50vh; /* 50% del alto de la ventana */
  max-width: 700px; 
  max-height: 450px; 
  margin-bottom: 130px;

  position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

  background-image: url("../images/fondo.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-width: 20px; /* Ancho del borde */
  border-style: solid; 
  border-image: url("../images/borde.png") 30 round; 

  /* border: 3px solid rgb(0, 0, 0);  */
}

#final-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30;
  flex-direction: column;
}

#final-title img {
  margin: 20px;
  width: 200px;
  height: auto;
}

#result {
  padding: 20px;
}

.button-restart {
  margin: 30px 0 50px 0;
  padding: 10px;

  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 20px;
  padding: 12px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    #a41414 0%,
    #ec3e1f 50%,
    #e79e11 100%
  );
  box-shadow: 0px 8px 0px 0px #a41414be;

  border-top: 2px solid #a41414be;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  display: inline-block;
}
.button-restart:hover {
  background: #a414148a;
}
.button-restart:active {
  background: #a4141459;
  box-shadow: 0px 2px 0px 0px #a41414be;
}

#game-screen,
#game-over-screen {
  display: none;
  /* background-color: #f3d3cf;
  border: 3px solid rgb(51, 20, 20); */
}

@media (max-width: 700px) {
  #game-box {
    width: 80vw;
    height: auto;
  }
}

@media (max-height: 450px) {
  #game-box {
    height: 50vh;
    width: auto;
  }
}